#header {
    background-color: #000000;
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
}


#header a{
    color: #ffffff;
    text-decoration: none;
}

#header button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

