#contact {
    margin: 100px auto 100px auto;
    width: 800px;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
    background-color: #FFF5E4;
}

#h1contact{
    text-align: center;
    font-size: 60px;
    margin: 100px 0px 100px 0px;
}

/* DIV */


#contact #email{
    margin: 0px 0px 0px 150px;
}


#contact #email, #nom{
    font-size: 20px;
    border: none;
    padding: 10px;
    width: 300px;
    background: none;
    border-bottom: 2px solid #000000;
}

#contact #email:focus,
#contact #nom:focus,
#contact #message:focus {
    outline: none;
}


#contact #message{
    font-size: 20px;
    border: none;
    padding: 10px;
    resize: none;
    background: none;
    border-bottom: 2px solid #000000;
    display: flex;
    width: 100%;
    margin: 50px 0px 0px 0px;
}





#contact button{
    font-size: 20px;
    width: 200px;
    padding: 10px;
    margin: 50px 0px;
    background: none; /* Green */
    color: rgb(0, 0, 0);
    border: 3px solid #000000; /* Green */
    cursor: pointer;
}
