#home1 {
  max-width: 1300px;
  margin: 100px auto 210px auto;
  padding: 32px 24px;
}

#home1 h1 {
  font-size: 60px;
  margin: 70px 0px;
  text-align: center;
}

#home1 #p1 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

#home1 #p2 {
  font-size: 20px;
  line-height: 30px;
}

#home1 img {
  float: left;
  margin: 10px 100px 0px 0px;
  border-radius: 70px 10px;
}

/* Intersection fait pas partie du div #home ! */

#intersection{
  margin: 0px 0px 100px 0px;
  width: 100%;
  padding: 0px 0px 200px 0px;
  background-color: #FFF5E4;
}

/* 2em partie de la page */

#home2 {
  margin: 0px auto 100px auto;
}

#home2 h1 {
  font-size: 70px;
  text-align: center;
}

#home2 h3 {
  text-align: center;
  margin: 50px 0px;
}

.ul{
  justify-content: center;
  gap: 50px;
  display: flex;
}

