#home {
  max-width: 1000px;
  margin: 60px auto 0 auto;
  padding: 32px 24px;
}

#home h1 {
  font-size: 60px;
  margin-bottom: 30px;
  text-align: center;
}

#home #h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 600;
}

#home #p1 {
  font-size: 1.1rem;
  line-height: 30px;
  margin-bottom: 30px;
}

#home #p2 {
  font-size: 1.1rem;
  line-height: 30px;
  margin-bottom: 30px;
}
