.footer a{
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100px;
    font-size: 20px;
    /* background-color: #910505; */
    margin: 10px 0px 0px 100px;
}


.footer p{
    text-align: center;
}

.footer{
    padding: 10px;
    background-color: #000a75;
}