

/* header */
/* header */
/* header */

#header {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;

  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 70px;
  background-color: #0C1220dd; 
  backdrop-filter: blur(8px);    
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
}

#header a {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#header .nav {
  display: flex;
  gap: 20px;
}

#header button {
  margin: 0 10px;

  background: none;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 15px;
  cursor: pointer;

}

@media (max-width: 600px) {
  #h2{
    display: none;
    background-color: red;
  }
}


/* contact */
/* contact */
/* contact */

#contact {
    margin: 100px auto 100px auto;
    width: 800px;
    text-align: center;
    padding: 32px 32px;
    border-radius: 50px;
    background-color: #00000023;
}



#h1contact{
    text-align: center;
    font-size: 60px;
    margin: 100px 0px ;
}

/* DIV */


#contact #email{
    margin: 0px 0px 0px 150px;
}


#contact #email, #nom{
    font-size: 20px;
    border: none;
    padding: 10px;
    width: 300px;
    background: none;
    border-bottom: 2px solid #ffffff;
}

#contact #email:focus,
#contact #nom:focus,
#contact #message:focus {
    outline: none;
}


#contact #message{
    font-size: 20px;
    border: none;
    padding: 10px;
    resize: none;
    background: none;
    border-bottom: 2px solid #ffffff;
    display: flex;
    width: 100%;
    margin: 50px 0px 0px 0px;
}





#contact button{
    font-size: 20px;
    width: 200px;
    padding: 10px;
    margin: 50px 0px;
    background: none; /* Green */
    color: rgb(255, 255, 255);
    border: 3px solid #ffffff; /* Green */
    cursor: pointer;
}



#contactDiv #link{
  display: flex;
  text-decoration: none;
  /* background-color: red; */
  width: 70%;
  margin: 0px auto;
}

#link .boite{
  width: 170px;
  height: 50px;
  padding: 5px 30px;
  border-radius: 20px;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.349);
  display: flex;
  text-decoration: none;
  color: white;

}

#link .boite p{
  margin: 15px auto;
}








/* footer */
/* footer */
/* footer */

.footer a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100px;
}

.footer p{
    text-align: center;
    color: #ffffff;
}

.footer{
    padding: 100px 0px 30px 0px;
    background-color: #000000;
}


/* Home*/
/* Home*/
/* Home*/

#home1 {
  max-width: 1300px;
  margin: 0 auto 0 auto;
  padding: 120px 32px;
  /* background-color: red; */
}

#home1 h1 {
  font-size: 60px;
  margin: 100px 0px;
  text-align: center;
}

#home1 #p1 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

#home1 #p2 {
  font-size: 20px;
  line-height: 30px;
}

#home1 img {
  float: left;
  margin: 50px 100px 100px 10px;
  border-radius: 100%;
}



/* liste projet */
/* liste projet */
/* liste projet */

.projectsListe{
  max-width: 2300px;
  margin: 100px auto 0 auto;
  padding: 32px 32px;
  
  /* background-color: red; */
}

.projectsListeListe{
  display: flex;
  flex-wrap: wrap;
}



.projectsListe #h1{
    text-align: center;
    font-size: 60px;
    margin: 100px 0px 30px 0px;
}


 /* projet  */
 /* projet  */
 /* projet  */




.projects .imgprojet{
  
}

.projects h1{
  text-align: center;
  margin: 15px 0px;
}

.projects p{
  margin: 15px 0px;
}

.projects:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
}

.projects .imglang{
  margin: 0 5px;
}

.projects a{
  color: #ffffff;
  text-decoration: none;
}


.projects {
    margin: 50px auto;
    padding: 30px;
    border-radius: 35px;
    width: 500px;
    background-color: #0c1220;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
}




 /* technologie  */
 /* technologie  */
 /* technologie  */



.tech img{
    /* border-radius: 50%; */
    margin: 0px 0px 15px 0px;
}

.tech p{
    text-align: center;
}


 /* technologie Liste  */
 /* technologie Liste */
 /* technologie Liste */


#technoHome{
  max-width: 1300px;
  margin: 100px auto 0 auto;
  padding: 32px 32px;
  /* background-color: red; */
}

#technoHome h1{
  margin: 70px 0px 30px 0px;
  font-size: 70px;
  text-align: center;
}


#technoHome h3{
  font-size: 25px;
  text-align: center;
}



/* boite d'animation */
.carousel {
  margin: 40px auto;
  width: 70%;
  display: flex;
  overflow-x: auto;

    -webkit-mask: linear-gradient(
    to right,
    transparent 0%,
    white 15%,
    white 85%,
    transparent 100%
  );
  mask: linear-gradient(
    to right,
    transparent 0%,
    white 15%,
    white 85%,
    transparent 100%
  );

}

.carousel::-webkit-scrollbar{
  display: none;
}

.groupe {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5em;
  animation: spin 10s infinite linear;
  padding-right: 5em;

}

.groupe > *{
  flex: 0 0 5em;
  text-align: center;
  align-content: center;
}



/* seules les listes bougent */
@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}


/* CV */
/* CV */
/* CV */


.cv {
  max-width: 2300px;
  margin: 100px auto 0 auto;
  padding: 32px 32px;
  /* background-color: red; */
  display: flex;
}

.cv > :last-child{
  /* padding: 100px; */
  margin: 40px 0px 0px 15%;
}

.cv h1{
  text-align: center;
  font-size: 70px;
  margin: 170px 0px 30px 0px;
  padding: 32px 32px;
}



/* phone media */

