.footer a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100px;
    font-size: 20px;
    /* background-color: #910505; */
    margin: 20px 0px 10px 100px;
}

.footer ul{
    margin: 0px 0px 70px 0px;
}

.footer p{
    text-align: center;
    color: #ffffff;
}

.footer{
    padding: 100px 0px 30px 0px;
    background-color: #000000;
}