.projects img{
    float: left;
    margin: 0px 70px 0px 70px;
    border-radius: 50px;
}

.projects h1{
    text-align: center;
    font-size: 30px;
    margin: 40px 0px 40px 0px;
}

.projects p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.projects {
    margin: 100px 0px 200px 0px;
    justify-content: center;
    display: flex;
}